%div{:class => 'container'}
  %noscript{:class => 'col-xs-12 col-sm-12 col-md-12 alert alert-danger'}
    Please enable Javascript otherwise you will not be able to use all features
  -if @sorted_laptops.empty?
    %div{:class => 'panel panel-default'}
      %div{:class => 'panel-heading'}
        %h4{:class => 'panel-title'}
          %strong
            Easy to use:
      %div{:class => 'panel-body'}
        %div{:class => 'row'}
          %div{:class => 'col-xs-12 col-sm-3 col-md-3'}
            %div{:class => 'thumbnail'}
              =image_tag "step1.png"
              %div{:class => 'caption'}
                %h5{:class => 'text-center'}
                  1. Collect laptops' data from any shopping web site
          %div{:class => 'col-xs-12 col-sm-3 col-md-3'}
            %div{:class => 'thumbnail'}
              =image_tag "step2.png"
              %div{:class => 'caption'}
                %h5{:class => 'text-center'}
                  2. Paste collected data into text box and click 'Split and sort laptops'
          %div{:class => 'col-xs-12 col-sm-3 col-md-3'}
            %div{:class => 'thumbnail'}
              =image_tag "step3.png"
              %div{:class => 'caption'}
                %h5{:class => 'text-center'}
                  3. Edit or remove laptops with bad data
          %div{:class => 'col-xs-12 col-sm-3 col-md-3'}
            %div{:class => 'thumbnail'}
              =image_tag "step4.png"
              %div{:class => 'caption'}
                %h5{:class => 'text-center'}
                  4. Analyze and choose the best laptop
  %div{:class => 'row'}
    =form_tag '/laptops/index', :method => :post do
      %div{:class => 'form-group col-xs-12 col-sm-12 col-md-12'}
        =text_area_tag 'laptops', @laptops, :class => 'form-control', :rows => '7', :autofocus => true ,:placeholder => "Enter several laptops, use 2 enters as a default delimiter or use your own"
        %div{:class => 'form-group'}
          %div{:class => 'checkbox col-xs-12 col-sm-12 col-md-12'}
            %div{:class => 'col-xs-3 col-sm-3 col-md-3'}
              %label
                %input{:type => 'checkbox', :id =>'use_delimiter', :name => 'use_delimiter', :checked => @use_delimiter, :value => 'yes'}
                  Use my own delimiter
            %div{:class => 'col-xs-9 col-sm-9 col-md-9'}
              =text_field_tag 'delimiter', @delimiter, :placeholder => 'Enter your own delimiter', :class => 'form-control', :disabled => !@use_delimiter
        %div{:class => 'form-group'}
          %div{:class => 'col-xs-12 col-sm-12 col-md-12'}
            =button_tag 'Clear', :class => 'btn btn-default', :id => 'clear_btn', :type => 'submit', :name => 'commit', :value => 'clear', :title => 'Clear textarea and delimiter'
            =button_tag 'Split and sort laptops', :class => 'btn btn-primary', :id => 'search_btn', :type => 'submit', :name => 'commit', :value => 'sort', :title => 'Split text using delimiter and sort them by CPU/GPU rating and price'
  -unless @sorted_laptops.empty?
    %div{:class => 'row'}
      %div{:class => 'col-xs-12 col-sm-12 col-md-12'}
        %div{:class => 'alert alert-info alert-dismissible'}
          Besides
          =link_to 'CPU', 'http://en.wikipedia.org/wiki/Central_processing_unit', :title => 'Central Processing Unit', :target => '_blank'
          (processor),
          =link_to 'GPU', 'http://en.wikipedia.org/wiki/Graphics_processing_unit', :title => 'Graphics Processing Unit', :target => '_blank' 
          (graphics card) and price
          %strong
            pay attention
          to:
          %ul
            %li
              Display size, resolution and type
            %li
              =link_to 'RAM', 'http://en.wikipedia.org/wiki/Random-access_memory', :title => 'Random access memory', :target => '_blank'
              (memory) amount and type
            %li
              =link_to 'HDD', 'http://en.wikipedia.org/wiki/Hard_disk_drive', :title => 'Hard disk drive', :target => '_blank'
              or
              =link_to 'SSD', 'http://en.wikipedia.org/wiki/Solid-state_drive', :title => 'Solid state drive', :target => '_blank'
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert'}
                %span{'aria-hidden' => 'true'}
                  &times;
                %span{:class => 'sr-only'}
                  Close
            %li
              =link_to 'OS', 'http://en.wikipedia.org/wiki/Operating_system', :title => 'Operating system', :target => '_blank'
            %li
              %abbr{:title => 'et cetera'}
                etc.
            %li
              and of course 
              %strong
                mistakes
              and
              %strong
                typos
      %div{:class => 'col-xs-12 col-sm-12 col-md-12'}
        %div{:class => 'alert alert-dismissible ' + (@bad_laptops_count > 0 ? 'alert-warning' : 'alert-success')}
          -if @bad_laptops_count > 0
            Found 
            %mark
              #{@good_laptops_count + @bad_laptops_count} 
            laptops: 
            %mark
              #{@good_laptops_count} 
            laptops with good data and
            %mark
              #{@bad_laptops_count} 
            \- with bad data.
            %strong
              Please edit or remove laptops with bad data.
          -else
            Found 
            %mark
              #{@good_laptops_count + @bad_laptops_count} 
            laptops with good data.
          %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert'}
            %span{'aria-hidden' => 'true'}
              &times;
            %span{:class => 'sr-only'}
              Close
    %div{:class => 'row'}
      %div{:class => 'col-xs-3 col-sm-3 col-md-3'}
        %h4
          %strong Sorted laptops:
      %div{:class => 'col-xs-2 col-sm-2 col-md-2 col-xs-offset-7 col-sm-offset-7 col-md-offset-7'}
        %button{:id => 'share_results', :class => 'btn btn-info pull-right', 'data-loading-text'=>"Generating link to share, please wait..."}
          Share results
    %div{:class => 'row'}
      %div{:class => 'col-xs-12 col-sm-12 col-md-12'}
        %table{:class => 'table table-condensed table-responsive table-hover'}
          %thead
            %tr
              %th #
              %th Name
              %th Average rating
              %th CPU rating
              %th CPU model
              %th GPU rating
              %th GPU model
              %th Price
              %th Actions
          %tbody
            -@sorted_laptops.each  do |laptop|
              -index = @sorted_laptops.index(laptop) + 1
              %tr{:class => 'row_data'}
                %td
                  =index
                %td{:class => 'laptop_name'}
                  %a{:href => '#', :title=> 'Toggle laptop\'s description'}
                    =laptop[:desc].slice(0, 35) + '...'
                %td{:class => 'avg_index'}
                  =laptop[:avg_index]
                %td{:class => 'cpu_index'}
                  -if laptop[:cpu_index] != -1
                    =link_to laptop[:cpu_index], @cpu_href, :target => '_blank'
                  -else
                    =laptop[:cpu_index]
                %td{:class => 'cpu_model ' + (laptop[:cpu_index] == -1 ? 'bg-danger' : '')}
                  -if laptop[:cpu_index] != -1
                    =link_to laptop[:cpu_model], laptop[:cpu_model_href], :target => '_blank'
                  -else
                    =laptop[:cpu_model]
                %td{:class => 'gpu_index'}
                  -if laptop[:gpu_index] != -1
                    =link_to laptop[:gpu_index], @gpu_href, :target => '_blank'
                  -else
                    =laptop[:gpu_index]
                %td{:class => 'gpu_model ' + (laptop[:gpu_index] == -1 ? 'bg-danger' : '')}
                  -if laptop[:gpu_index] != -1
                    =link_to laptop[:gpu_model], laptop[:gpu_model_href], :target => '_blank'
                  -else
                    =laptop[:gpu_model]
                %td{:class => 'price'}
                  #{'%.2f' % laptop[:price]}
                %td
                  %button{:class => 'btn btn-xs edit ' + (laptop[:gpu_index] == -1 || laptop[:cpu_index] == -1 ? 'btn-warning' : 'btn-default'), :title => 'Edit laptop\'s CPU/GPU model and price'}
                    Edit
                  %button{:class => 'btn btn-success btn-xs apply hidden', :title => 'Apply changes and put laptop into correct row'}
                    Apply
                  %button{:class => 'btn btn-danger btn-xs remove', :title => 'Remove laptop without confirmation'}
                    Remove
              %tr{:class => 'row_desc'}
                %td{:colspan => 9,:class => 'laptop_desc hidden'}
                  %p
                    =laptop[:desc].strip()
                    %span{:class => 'fixed_data'}
